@use './../../../../globals'
    
.achievementBanner
    background: linear-gradient(347.73deg, #414147 -422.44%, #1F232C 179.69%)
    padding: 100px
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    // gap: 12%

    .achievementBlock
        display: flex
        flex-direction: column
        align-items: center
        
        .title
            display: inline-block
            font-size: 48px
            color: globals.$light-color
            font-weight: 600
            text-align: center

        .subtitle
            display: inline-block
            font-size: 20px
            text-transform: uppercase
            margin-top: 15px
            font-weight: 700
            text-align: center