body
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none!important 
    scrollbar-width: none!important  
    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar
        display: none!important
    
.history
    padding: 130px 80px

    p
        margin-top: 30px

        
.meetTheTeam
    padding: 130px 13%

    .content
        width: 100%
        margin-top: 75px
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-around
        gap: 35px   

        >div
            width: max(400px, 48%)


#talkToUsImage

    button
        margin-top: 20px


@media screen and (max-width: 600px) 

    .history
        padding: 60px 11%

        p
            margin-top: 30px

    .meetTheTeam
        padding: 65px 13%

        .content
            margin-top: 40px
