body
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none!important 
    scrollbar-width: none!important  
    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar
        display: none!important
    
.history
    padding: 130px 80px

    p
        margin-top: 30px

.meetTheTeam
    padding: 130px 13%

    .content
        margin-top: 75px
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-around
        gap: 35px//minmax(100%, 100px)     


#talkToUsImage

    button
        margin-top: 20px
        font-size: 18px
