
.footer

    .footerContent
        padding: 70px 11.5% 93px 11.5%
        // display: grid
        // grid-template-columns: 65% 35%
        display: flex
        flex-wrap: flex-wrap

        .addressAndLogo
            width: 60%

            .address
                max-width: 285px
                font-size: 16px
                font-weight: 500
                line-height: 19.2px
                margin-top: 20px

        .linksAndSocials
            width: 40%
            display: flex
            flex-wrap: wrap
            gap: 30px
            justify-content: space-between
            // display: grid
            // grid-template-columns: auto auto
            // column-gap: 89px

            .links
                .content
                    margin-top: 27px
                    display: grid
                    grid-template-columns: 1fr 1fr
                    row-gap: 15px
                    column-gap: 10px
                    // display: flex
                    // flex-wrap: wrap
                    // gap: 15px

                    // a
                    //     width: minmax(10%, min-content)
            
            .socials
                .content
                    margin-top: 18px
                    width: min-content
                    display: grid
                    grid-template-columns: 1fr 1fr 1fr
                    column-gap: 15px

    .divider
        height: 1px
        background: rgba(102, 102, 102, 0.38)
        width: 76%
        margin: 0 auto

    .copyright
        padding: 58px
        text-align: center

@media screen and (max-width: 600px) 
    .footer
        .footerContent
            flex-direction: column
            padding: 40px 11.5% 93px 11.5%

            .addressAndLogo
                width: 100%
                margin-bottom: 50px

            .linksAndSocials
                width: 100%