@use './../../../../globals'
    
.heroSection
    height: 80vh
    // width: 100%
    background-image: url('./../../../../assets/images/about-hero-image.png')
    display: flex
    align-items: center
    justify-content: center
