@use './../../../../globals'
    
.heroSection
    height: 100vh
    // width: 100%
    background-image: url('./../../../../assets/images/about-hero-image.png')
    background-size: cover
    background-repeat: no-repeat
    display: flex
    align-items: center
    justify-content: center
